---
---
@import "{{ site.theme }}";


header ul {
    list-style: none;
    height: auto;
    padding: 5;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

header li {
    width: auto;
    border-right: 0px solid #e0e0e0;
    height: 20px;
    float: none;
}

header li:first-child a {
    border-radius: 0;
}

header ul a {
    line-height: 1;
    font-size: 11px;
    color: #676767;
    display: block;
    text-align: left;
    padding-top: 6px;
    height: auto;
  }

  header ul li+li+li {
      border-right: none;
       width: 240px;
}
